<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CarMapper">

	<select id="selectCar" parameterType="Car" resultType="Car">
		select id,cust_id customerId,carNum,carType,createDate,car_color carColor,VIN,description
		from car where (isDelete!='1' or isDelete is null)
		<if test="customer.id!=null and customer.id!=''">
			and cust_id = #{customer.id} 
		</if>
		<if test="carNum!=null and carNum!=''">
			and carNum like CONCAT('%',#{carNum},'%')
		</if>
		<if test="carType!=null and carType!=''">
			and carType like CONCAT('%',#{carType},'%')
		</if>
		<if test="carColor!=null and carColor!=''">
			and car_color like CONCAT('%',#{carColor},'%')
		</if>
	</select>
	
	<insert id="batchInsert" parameterType="list">
		insert into car(cust_id,carType,carNum,createDate,car_color,VIN,description) values
		<foreach collection="list" item="car" separator=",">
			(#{car.customer.id},#{car.carType},#{car.carNum},sysdate(),#{car.carColor},#{car.VIN},#{car.description})
		</foreach>
	</insert>
	
	<update id="deleteCarById" parameterType="int">
		<foreach collection="list" item="id">
			update car set isDelete='1' where id=#{id}
		</foreach>
	</update>
	<resultMap type="Car" id="carMap">
		<id property="id" column="id" />
		<result property="carNum" column="carNum" />
		<association property="customer" column="cust_id" javaType="Customer">
			<id property="id" column="m_id" />
			<result property="name" column="name" />
			<result property="phone" column="phone"/>
		</association>
	</resultMap>
	<select id="findCarByCus" parameterType="Customer" resultMap="carMap">
		select c.id,c.carNum,m.id m_id,m.name,m.phone
		from car c,customer m where c.cust_id=m.id
		<if test="id!=null and id!=0">
			and id=#{id}
		</if>
		<if test="name!=null and name!=''">
			and name like concat('%',#{name},'%')
		</if>
		<if test="phone!=null and phone!=''">
			and phone like concat('%',#{phone},'%')
		</if>
		
	</select>
	
</mapper>