<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PartsManagerMapper">

	<insert id="addParts" parameterType="Parts">
	 	insert into car_parts(name,type,partsNo,positions,description)
	 	values(#{name},#{type},#{partsNo},#{positions},#{description})
	</insert>
	
	<insert id="addStore" parameterType="PartsStore">
		insert into parts_store(car_parts_id,increase_Date,num,unit_price,sell_unit_price,description)
		values(#{partsId},#{increaseDate},#{num},#{unitPrice},#{sellUnitPrice},#{description})
	</insert>
	
	<update id="updatePartsById" parameterType="Parts">
		update car_parts set name=#{name},type=#{type},partsNo=#{partsNo},positions=#{positions},description=#{description}
		where id=#{id}
	</update>
	
	<update id="deletePartsById" parameterType="Parts">
		update car_parts set isDelete='1' where id=#{id}  
	</update>
	
	<update id="deleteStoreById" parameterType="PartsStore">
		update parts_store set isDelete='1' where id=#{id}
	</update>
	
	<select id="findParts" parameterType="Parts" resultType="Parts">
		select c.id,c.name,c.type,c.partsNo,c.positions,c.description,sum(p.partsNum)-sum(p.useNum) surplusNum
		from car_parts c left join (select s.id,s.car_parts_id,s.num partsNum,case when sum(p.usedNum) is null then 0 else sum(p.usedNum) end as useNum
			from huachengdb.parts_store s left JOIN huachengdb.project_parts p
			on s.id = p.car_partStoreId where (s.isDelete!='1' or s.isDelete is null) and (p.isdelete!='1' or p.isdelete is null) group by s.id) p
		on c.id = p.car_parts_id where c.isDelete!='1' or c.isDelete is null 
		<if test="id!=null and id!='' and id!=0">
			and c.id = #{id} 
		</if>
		<if test="name!=null and name!=''">
			and c.name like CONCAT('%',#{name},'%')
		</if>
		<if test="type!=null and type!=''">
			and c.type like CONCAT('%',#{type},'%')
		</if>
		<if test="partsNo!=null and partsNo!=''">
			and c.partsNo like CONCAT('%',#{partsNo},'%')
		</if>
		<if test="positions!=null and positions!=''">
			and c.positions like CONCAT('%',#{positions},'%')
		</if>
		group by p.car_parts_id	
	</select>
	
	<select id="findPartsStore" parameterType="PartsStore" resultType="PartsStore">
		select id,car_parts_id partsId,increase_Date increaseDate,num,unit_price unitPrice,sell_unit_price sellUnitPrice,description
		from parts_store where (isDelete!='1' or isDelete is null)
		<if test="partsId!=null and partsId!=0">
			and car_parts_id = #{partsId}
		</if>
		<if test="description!=null">
			and description like CONCAT('%',#{description},'%')
		</if>
	</select>
	
	
</mapper>