<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PartsManagerMapper">

	<insert id="addParts" parameterType="Parts">
		insert into car_parts(name,type,partsNo,positions,description)
		values(#{name},#{type},#{partsNo},#{positions},#{description})
	</insert>

	<insert id="addStore" parameterType="PartsStore">
		insert into
		parts_store(car_parts_id,increase_Date,num,unit_price,sell_unit_price,description)
		values(#{part.id},#{increaseDate},#{num},#{unitPrice},#{sellUnitPrice},#{description})
	</insert>

	<update id="updatePartsById" parameterType="Parts">
		update car_parts set
		name=#{name},type=#{type},partsNo=#{partsNo},positions=#{positions},description=#{description}
		where id=#{id}
	</update>

	<update id="deletePartsById" parameterType="Parts">
		update car_parts set
		isDelete='1' where id=#{id}
	</update>

	<update id="deleteStoreById" parameterType="PartsStore">
		update parts_store
		set isDelete='1' where id=#{id}
	</update>

	<select id="findParts" parameterType="Parts" resultType="Parts">
		select
		c.id,c.name,c.type,c.partsNo,c.positions,c.description,ifnull(sum(p.surplusNum),0) surplusNum
		from car_parts c left join (select s.id,s.car_parts_id,ifnull(sum(s.num),0)-ifnull(sum(p.usedNum),0) surplusNum
		from huachengdb.parts_store s left JOIN huachengdb.project_parts p
		on s.id = p.car_partStoreId and (p.isdelete!='1' or p.isdelete is null) where (s.isDelete!='1' or s.isDelete is
		null) group by s.id) p
		on
		c.id = p.car_parts_id where c.isDelete!='1' or c.isDelete is null
		<if test="id!=null and id!='' and id!=0">
			and c.id = #{id}
		</if>
		<if test="name!=null and name!=''">
			and c.name like CONCAT('%',#{name},'%')
		</if>
		<if test="type!=null and type!=''">
			and c.type like CONCAT('%',#{type},'%')
		</if>
		<if test="partsNo!=null and partsNo!=''">
			and c.partsNo like CONCAT('%',#{partsNo},'%')
		</if>
		<if test="positions!=null and positions!=''">
			and c.positions like CONCAT('%',#{positions},'%')
		</if>
		group by c.id
	</select>

	<resultMap type="PartsStore" id="storeMap">
		<id property="id" column="id" />
		<result property="increaseDate" column="increaseDate" />
		<result property="num" column="num" />
		<result property="unitPrice" column="unitPrice" />
		<result property="sellUnitPrice" column="sellUnitPrice" />
		<result property="description" column="description" />
		<result property="surplusNum" column="surplusNum" />
		<association property="part" javaType="Parts" column="car_parts_id">
			<id property="id" column="p_id" />
			<result property="type" column="type" />
			<result property="name" column="name" />
			<result property="partsNo" column="partsNo" />
		</association>
	</resultMap>

	<select id="findPartsStore" parameterType="PartsStore"
		resultMap="storeMap">
		<!-- select s.id,p.id as p_id,p.type,p.name,p.partsNo,s.increase_Date increaseDate,s.num,s.unit_price 
			unitPrice,s.sell_unit_price sellUnitPrice,s.description -->
		<!-- from parts_store s,car_parts p where (s.isDelete!='1' or s.isDelete 
			is null) and s.car_parts_id=p.id -->
		select s.id,p.id as p_id,p.type,p.name,p.partsNo,s.increase_Date increaseDate,s.num,s.unit_price unitPrice,s.sell_unit_price sellUnitPrice,s.description,s.surplusNum
		from 
		(select ss.*,ss.num-ifnull(pp.num,0) surplusNum from huachengdb.parts_store ss left join (select ps.car_partStoreId,sum(ps.usedNum) num from huachengdb.project_parts
		ps where ps.isdelete!='1' or ps.isdelete is null group by ps.car_partStoreId) pp on ss.id = pp.car_partStoreId) s,
		car_parts p 
		where (s.isDelete!='1' or s.isDelete is null) and s.car_parts_id=p.id and s.surplusNum!=0
		<if test="part !=null and part.id!=null and part.id!=0">
			and s.car_parts_id = #{part.id}
		</if>
		<if test="part !=null and part.name!=null and part.name!=''">
			and p.name like concat('%',#{part.name},'%')
		</if>
		<if test="part !=null and part.type!=null and part.type!=''">
			and p.type like concat('%',#{part.type},'%')
		</if>
		<if test="description!=null">
			and s.description like CONCAT('%',#{description},'%')
		</if>
	</select>


</mapper>