<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProjectParts">

	<insert id="addpParts" parameterType="java.util.List">
		insert into project_parts(projectId,car_partStoreId,partsName,partsType,partsNo,usedNum) values
		<foreach collection="list" item="pp" separator=",">
			(#{pp.projectId},#{pp.partsStore.id},#{pp.partsName},#{pp.partsType},#{pp.partsNo},#{pp.useNum})
		</foreach>
	</insert>
	
	<update id="deletepParts" parameterType="ProjectParts">
		update project_parts set isdelete='1' where id=#{id}
	</update>
	
	<update id="deleteByProject">
		update project_parts set isdelete='1' where projectId=#{id}
	</update>
	
</mapper>